
<div class="container">

   <%= simple_form_for [@user, @pet] do |f| %>
    <%= f.input :name, label: "Nome"  %>
    <%= f.input :age, label: "Idade"  %>
    <%= f.input :size, label: "Porte", collection: ['pequeno', 'médio', 'grande'] %>
    <%= f.input :breed, label: "Tipo", collection: ['cão', 'gato', 'passarinho'] %>
    <%= f.input :available, label: "Disponível?"  %>

    <%= f.submit 'salvar', class: "btn btn-ghost mt-1" %>

  <% end %>
  
 </div>