
<div class="container mt-5">
   <h1 class="text-center">Meus Pets</h1>
   <div>
      <% @pets_available.each do |pet| %>

         <div class="container">
            <div class="card-product my-4">
               <%= cl_image_tag pet.photo.key, crop: :fill %>
               <div class="card-product-infos w-75">   
                  <h3>Sou <%= pet.name %> </h3>
                  <p>Tenho <%= pet.age %> anos</p>
                  <p>Sou <%= pet.size %> </p>
                  <p>Tipo: <%= pet.breed %></p>   
               </div> 
               
               <div class="d-flex w-25 align-items-end flex-column py-2">
                  <%= link_to 'Atualizar', edit_pet_path(pet), class: "btn btn-outline-primary w-100" %>
                  <%= link_to 'Propostas de adoção', '#', class: "btn btn-outline-warning w-100" %> 
                  <%= link_to 'Deletar', pet_path(pet), class: "btn btn-outline-danger w-100", method: :delete, data: { confirm: "Confirma?" } %> 
               </div> 
            </div>
         </div>
      <% end %>
   </div>
</div>