<div class="container">
  <div class="row my-5">
    <div class="card-product img col-6">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <% if @pet.photo.attached? %>
        <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fit %>
        <% else %>
        <%= cl_image_tag("cat-dog_yqmypv", height: 300, width: 400, crop: :fit) %>
        <% end %>
      </div>
      <div class="cards col-8"> 
        <div class="cards col-12">
          <h4> Meu nome é <b><%= @pet.name.capitalize%></b> </h4>
        </div>
        <div class="cards col-12">
          <h6> Tenho <b><%= @pet.age  %></b> ano(s) de idade</h6>
        </div>
        <div class="cards col-12">
          <h6> Tenho um <b><%= @pet.size  %></b> porte</h6>
        </div>
        <div class="cards col-12">
          <h6> Sou um <b><%= @pet.breed.upcase  %></b>! </h6>
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <br>
  <br>
  <div class="container">
      <%= simple_form_for [@pet, @adoption] do |f| %>
        <p><%= f.input :comment, label:"Eu quero adotar o #{@pet.name.upcase} porque..." %><p>
        <%= f.submit "Desejo adotar o #{@pet.name.upcase}", class: "btn btn-outline-primary mt-1" %>
      <% end %>
  </div>

</div>