<div class="container">
  <br>
  <p> Nome: <%= @pet.name%> - Idade: <%= @pet.age  %> - Porte: <%= @pet.size  %> </p>
  <br>
  <br>
  
  <% if @pet.photo.attached? %>
    <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fit %>
  <% else %>
    <%= cl_image_tag("cat-dog_yqmypv", height: 300, width: 400, crop: :fit) %>
  <% end %>
  
  <br>
  <div class="container">
      <%= simple_form_for [@pet, @adoption] do |f| %>
        <%= f.input :comment, label:"Eu quero adotar o #{@pet.name} por que..." %>
        <%= f.submit "Desejo adotar o #{@pet.name}", class: "btn btn-ghost mt-1" %>
      <% end %>
  </div>

</div>